.wpforms-field-container {
  margin-top: 35px !important;
}

div.wpforms-container-full .wpforms-form .wpforms-one-half {
  width: 100% !important;

  @include md {
    width: 48% !important;
  }
}

div.wpforms-container-full .wpforms-form .wpforms-one-half {
  margin-left: 0 !important;

  @include md {
    margin-left: 4% !important;
  }
}

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-size: 17px !important;
}

.wpforms-field-large {
  height: 46px !important;
}

.wpforms-field-label {
  text-align-last: left;
}

div.wpforms-container-full .wpforms-form label.wpforms-error {
  text-align-last: left;
}

div.wpforms-container-full .wpforms-form textarea.wpforms-field-medium {
  height: 200px !important;
}

div.wpforms-container-full .wpforms-form input:focus,
div.wpforms-container-full .wpforms-form textarea:focus,
div.wpforms-container-full .wpforms-form select:focus {
  outline: none !important;
  border: 1px solid rgba(84, 113, 222, 0.6) !important;
}

div.wpforms-container-full .wpforms-form .wpforms-field input.wpforms-error,
div.wpforms-container-full .wpforms-form .wpforms-field input.user-invalid,
div.wpforms-container-full .wpforms-form .wpforms-field textarea.wpforms-error,
div.wpforms-container-full .wpforms-form .wpforms-field textarea.user-invalid,
div.wpforms-container-full .wpforms-form .wpforms-field select.wpforms-error,
div.wpforms-container-full .wpforms-form .wpforms-field select.user-invalid {
  border: 1px solid #d82626;
}

.wpforms-submit-container {
  text-align-last: left;
}

.cform .button {
  font-family: "Karla", sans-serif;
  border: none !important;
  padding: 12px 24px !important;
  text-transform: uppercase !important;
  background-color: #6de2ef !important;
  color: #fff !important;
  -webkit-transition: 300ms ease-out !important;
  -o-transition: 300ms ease-out !important;
  transition: 300ms ease-out !important;
  border: 2px solid $blue !important;
  font-weight: 700 !important;

  &:hover {
    color: $blue !important;
    border: 2px solid $blue !important;
    background: transparent !important;
  }
}
