.intro-block__outer {
  display: flex;
  justify-content: center;
  max-width: 740px;
  margin: 0 auto;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.intro-block {
  padding: 0 25px;
}

.intro-block--large {
  flex: 1 1 60%;
}

.intro-about__header {
  font-size: 34px;

  @include md {
    font-size: 40px;
  }
}

.intro-about__text {
  @include md {
    width: 86%;
  }
}
