.hero {
  height: 100vh;
  background-image: url(../images/hero/frontpage-hero-mobile.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;

  @include lg {
    height: 76vh;
    background-image: url(../images/hero/AdobeStock_321442293.jpeg);
  }

  @include xlhd {
    background-image: url(../images/hero/AdobeStock_321442293.jpeg);
  }
}

.hero__inner {
  color: #fff;
  z-index: 1;
  padding: 0 25px 30px;

  @include smla {
    padding: 0 25px 20px;
  }

  @include sm {
    width: 91%;
    padding: 0 80px;
  }

  @include md {
    width: 74%;
    padding: 0 80px;
  }

  @include xl {
    width: 60%;
  }

  @include xxl {
    width: 54%;
  }
}

.hero__header {
  font-size: 38px;
  padding: 0 0 10px;
  margin: 0 0 25px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
  max-width: 650px;

  @include smla {
    margin-bottom: 0;
  }

  @include md {
    font-size: 52px;
  }

  @include lg {
    font-size: 62px;
  }

  @include xxl {
    font-size: 78px;
    max-width: 810px;
  }
}

.hero__subheader {
  font-size: 22px;
  font-family: sans-serif;
  margin: 20px 0 10px;
  padding: 0 0 15px;
  color: $blue;
  font-weight: 700;

  @include smla {
    font-size: 16px;
  }

  @include md {
    font-size: 30px;
  }

  @include lg {
    width: 85%;
  }

  @include xl {
    width: 70%;
    padding: 0 0 20px;
  }

  @include xxl {
    font-size: 36px;
  }
}

.hero__button {
  @include vsm {
    display: inline-block;
  }
}

.hero__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background: #021317;
  opacity: 0.5;

  @include lg {
    height: 76vh;
  }
}
