.home .frontpage-blog {
  padding: 60px 0;

  @include md {
    padding: 60px 20px;
  }

  @include lg {
    padding: 80px 25px 40px;
  }

}

.blog-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 364px;

  @include md {
    flex-direction: row;
    max-width: 900px;
    ;
  }

  @include xl {
    max-width: 1100px;
    flex-direction: row;
  }
}

.blog-section__outer {
  padding: 0 0 60px;
}

.blog-section__header {
  text-align: center;
  margin: 0 0 44px;
}

.blog-section__inner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @include md {
    flex-direction: row;
  }
}

.blog-section__inner--two {
  justify-content: center;
  width: 100%;
}

.blog-section__article {
  flex: 0 1 33.333%;
  margin-bottom: 40px;
  background-clip: content-box;
}

.blog .blog-section__article {
  @include md {
    width: 42%;
  }

  @include xl {
    width: 30%;
  }
}

.blog-section__article--two {
  flex: 0 1 50%;
  max-width: 360px;

  @include lg {
    max-width: 390px;
  }

  @include xlhd {
    max-width: 460px;
  }

  @include xxl {
    max-width: 535px;
  }
}

.blog-section__article--two:first-of-type {
  @include md {
    margin-right: 15px;
  }

  @include xlhd {
    margin-right: 25px;
  }
}

.blog-section__details {
  padding: 20px 5px;

  @include lg {
    padding: 20px 20px 20px 5px;
  }
}

.blog-section__title {
  text-align: left;
  font-size: 22px;
  margin: 10px 0 28px;
  text-transform: inherit;

  @include lg {
    font-size: 28px;
  }
}

.blog-section__title a {
  transition: color, 0.3s;
  box-shadow: none;

  &:hover {
    text-decoration: none;
    box-shadow: none;
  }
}

.blog-section__image {
  max-width: 100%;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: auto;
    transition: transform 0.6s;

    &:hover {
      transform: scale(1.07);
    }
  }
}

.blog-section__image--zoom {
  display: block;
}

.blog-section__catagory {
  color: $grey;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.blog-section__catagory ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.blog-section__date {
  display: block;
  margin-top: 22px;
  font-size: 0.9em;
}

@media only screen and (min-width:1300px) {
  .blog-section {
    max-width: 1260px;
  }
}

.single-post .banner__header {
  font-size: 32px;
  margin: 0;
  max-width: 750px;

  @include lg {
    font-size: 44px;
  }
}

.post p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

.post {

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 40px 0 19px 0;
  }
}

.post img {
  max-width: 100%;
  height: auto;
}

.blog-row {
  max-width: 780px;
  margin: 0 auto;
}

.rt-reading-time {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

div .syntaxhighlighter {
  margin: 0 0 30px !important;
  font-size: 16px !important;
}

div .syntaxhighlighter .string,
.syntaxhighlighter .string a {
  color: #a036d4 !important;
}

.related-posts {
  margin: 0 auto;
  max-width: none;
  justify-content: center;
  max-width: calc((454px * 2) + (40px * 2));
}

.related-posts__article {
  flex: 0 1 50%;
  margin-bottom: 40px;
}

.related-posts__inner {
  max-width: 454px;
  margin: 0 auto;

  @include md {
    margin: 0 20px;
  }
}

.dpsp-networks-btns-wrapper li {
  margin-right: 10px;
}
